Importantando libs necessarias

Install caso necessario

In [22]:
!pip install requests
!pip install pandas

Collecting requests
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.8-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.2.2-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached certifi-2024.7.4-py3-none-any.whl (162 kB)
Using cached charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl (119 kB)
Using cached idna-3.8-py3-none-any.whl (66 kB)
Using cached urllib3-2.2.2-py3-none-any.whl (121 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2024.7.4 charset-normalizer-3.3.2 idna-3.8 requests-2.32.3 urllib3-2.2.2

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip
Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (60 kB)
Collecting python-dateutil>=2.8.2 (from pandas)
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: pytz>=2020.1 in /Users/daniellira/Downloads/fase01/env/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/daniellira/Downloads/fase01/env/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
Using cached numpy-2.1.0-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: tzdata, python-dateutil, numpy, pandas
Successfully installed numpy-2.1.0 pandas-2.2.2 python-dateutil-2.9.0.post0 tzdata-2024.1

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [46]:
import requests
import pandas as pd

funcao para fazer o request na api

Estou utilizando a porta 5001 pois ja havia um processo rodando na 5000

In [47]:
def get_paises():
    response = requests.get('http://127.0.0.1:5001/country')
    return response.json()

Fazer a leitura e assignment desses dados

In [48]:

paises_data = get_paises()
paises_df = pd.DataFrame.from_dict(paises_data, orient='index')
paises_df.reset_index(inplace=True)
paises_df.columns = ['codigo', 'nome', 'moeda', 'populacao', 'capital', 'continente', 'area']

Visualizar os dados

In [49]:
paises_df

,codigo,nome,moeda,populacao,capital,continente,area
0,AND,Andorra,EUR,77006,Andorra la Vella,Europe,468.0
1,ARE,United Arab Emirates,AED,9630959,Abu Dhabi,Asia,82880.0
2,AFG,Afghanistan,AFN,37172386,Kabul,Asia,647500.0
3,ATG,Antigua and Barbuda,XCD,96286,St John's,North America,443.0
4,AIA,Anguilla,XCD,13254,The Valley,North America,102.0
...,...,...,...,...,...,...,...
245,YEM,Yemen,YER,28498687,Sanaa,Asia,527970.0
246,MYT,Mayotte,EUR,279471,Mamoudzou,Africa,374.0
247,ZAF,South Africa,ZAR,57779622,Pretoria,Africa,1219912.0
248,ZMB,Zambia,ZMW,17351822,Lusaka,Africa,752614.0
249,ZWE,Zimbabwe,ZWL,14439018,Harare,Africa,390580.0

Ler os dados do CSV

In [50]:
gdp_df = pd.read_csv('../data/gdp_data.csv')
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129081e+10,2.180870e+10,2.370727e+10,2.821034e+10,2.611906e+10,2.968249e+10,...,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12,9.274845e+11,1.080712e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.322169e+11,8.924979e+11,7.669580e+11,6.905454e+11,6.837480e+11,7.663597e+11,7.947191e+11,7.847997e+11,8.401873e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10,NaN

Ajustar nomes das colunas para garantir que correspondam

In [51]:
gdp_df = gdp_df.rename(columns={'Country Code': 'codigo'})

Mesclar os dados com base no cÃ³digo do paÃ­s

In [52]:
merged_df = pd.merge(paises_df, gdp_df, on='codigo', how='left')

Vizualizar todas as colunas e verificar se estÃ¡ tudo certinho

In [53]:
print(merged_df.columns)

Index(['codigo', 'nome', 'moeda', 'populacao', 'capital', 'continente', 'area',
       'Country Name', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', 'Unnamed: 66'],
      dtype='object')

Identifiquei uma coluna chamada 'Unamed: 66', pode ter sido adicionada durante o processo de merge, como nÃ£o iremos utiliza-la, irei fazer um drop

In [54]:
merged_df.drop(columns=['Unnamed: 66'], inplace=True)

Dando un check na versao final antes de exportar para um csv

In [55]:
merged_df.head()

,codigo,nome,moeda,populacao,capital,continente,area,Country Name,Indicator Name,Indicator Code,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AND,Andorra,EUR,77006,Andorra la Vella,Europe,468.0,Andorra,GDP (current US$),NY.GDP.MKTP.CD,...,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.155065e+09,2.891022e+09,3.330282e+09
1,ARE,United Arab Emirates,AED,9630959,Abu Dhabi,Asia,82880.0,United Arab Emirates,GDP (current US$),NY.GDP.MKTP.CD,...,3.846101e+11,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11
2,AFG,Afghanistan,AFN,37172386,Kabul,Asia,647500.0,Afghanistan,GDP (current US$),NY.GDP.MKTP.CD,...,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,ATG,Antigua and Barbuda,XCD,96286,St John's,North America,443.0,Antigua and Barbuda,GDP (current US$),NY.GDP.MKTP.CD,...,1.199948e+09,1.181448e+09,1.249733e+09,1.336693e+09,1.436585e+09,1.467978e+09,1.605944e+09,1.687533e+09,1.370281e+09,1.471126e+09
4,AIA,Anguilla,XCD,13254,The Valley,North America,102.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Parece bom, entÃ£o vamos seguir com a exportar e finalizar a fase 1 da disciplina Coleta e Prep de dados

Adicionaremos na pasta Output

In [58]:
merged_df.to_csv('../output/final_data.csv', index=False)

Por fim, vizualizar esse csv criado

In [59]:
df = pd.read_csv('../output/final_data.csv')
df

,codigo,nome,moeda,populacao,capital,continente,area,Country Name,Indicator Name,Indicator Code,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AND,Andorra,EUR,77006,Andorra la Vella,Europe,468.0,Andorra,GDP (current US$),NY.GDP.MKTP.CD,...,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.155065e+09,2.891022e+09,3.330282e+09
1,ARE,United Arab Emirates,AED,9630959,Abu Dhabi,Asia,82880.0,United Arab Emirates,GDP (current US$),NY.GDP.MKTP.CD,...,3.846101e+11,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11
2,AFG,Afghanistan,AFN,37172386,Kabul,Asia,647500.0,Afghanistan,GDP (current US$),NY.GDP.MKTP.CD,...,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,ATG,Antigua and Barbuda,XCD,96286,St John's,North America,443.0,Antigua and Barbuda,GDP (current US$),NY.GDP.MKTP.CD,...,1.199948e+09,1.181448e+09,1.249733e+09,1.336693e+09,1.436585e+09,1.467978e+09,1.605944e+09,1.687533e+09,1.370281e+09,1.471126e+09
4,AIA,Anguilla,XCD,13254,The Valley,North America,102.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,YEM,Yemen,YER,28498687,Sanaa,Asia,527970.0,"Yemen, Rep.",GDP (current US$),NY.GDP.MKTP.CD,...,3.540132e+10,4.041523e+10,4.322859e+10,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN
246,MYT,Mayotte,EUR,279471,Mamoudzou,Africa,374.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,ZAF,South Africa,ZAR,57779622,Pretoria,Africa,1219912.0,South Africa,GDP (current US$),NY.GDP.MKTP.CD,...,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041597e+11,3.885320e+11,3.376197e+11,4.190150e+11
248,ZMB,Zambia,ZMW,17351822,Lusaka,Africa,752614.0,Zambia,GDP (current US$),NY.GDP.MKTP.CD,...,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10,2.214763e+10
249,ZWE,Zimbabwe,ZWL,14439018,Harare,Africa,390580.0,Zimbabwe,GDP (current US$),NY.GDP.MKTP.CD,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10